body {
    font-family: Arial, sans-serif;
    background-image: url(image/rm222batch2-mind-03.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #0e0d0d;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin-top: 10%;
}
h1{
    color: #5488f1;
    text-align: center;
    padding: 1%;
}

h2 {
    color: #2c3e50;
}

.form-group {
    margin-bottom: 15px;
}

.btn-custom {
    background-color: #2980b9;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px; 
}

.btn-custom:hover {
    background-color: #13073bda;
}

.hidden {
    display: none;
}

.back-link {
    text-align: center;
    margin-top: 15px;
    color: #2980b9;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}


#balanceResult {
    font-size: 1.2rem;
    font-weight: bold;
}


.row > .col-4 {
    margin-bottom: 15px;
}
